{% extends "base.html" %}

{% block content %}
<!-- detail.html -->

<h1>{{ article.title }}</h1>

<p>
  <!-- 
    <textarea> 를 통해 엔터를 입력받은 경우 화면에서 <br>로 표시
  -->
  {{ article.content | linebreaksbr }}
</p>

<div>
  <a href="{% url "board:update" article.pk %}">
    <button>수정</button>
  </a>
</div>

<div>
  <form action="{% url "board:delete" article.pk %}" method="POST">
    {% csrf_token %}
    <!-- form > button 은 submit 을 대체 -->
    <button onclick="return confirm('ㄹㅇ삭제?')">
      삭제
    </button>
  </form>
</div>

<hr>

<div>
  <form action="{% url "board:create_comment" article.pk %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button>댓글작성</button>
  </form>
</div>


{% endblock content %}