{% extends "base2.html" %}

{% block content %}
<h1>{{ patient.name }}</h1>
<p>{{ patient.age }}살</p>
<p>{{ patient.height}} cm</p>
<p>{{ patient.weight }} kg</p>
<p>{{ patient.mbti }}</p>


<div>
  <a href="{% url "hospital:update" patient.pk %}">
    <button>수정</button>
  </a>
</div>

<div>
  <form action="{% url "hospital:delete" patient.pk %}" method="POST">
    {% csrf_token %}
    <button onclick="return confirm('ㄹㅇ삭제?')">
      삭제
    </button>
  </form>
</div>

<hr>
<form action="{% url "hospital:create_interview" patient.pk %}" method="POST">
  {% csrf_token %}
  {{ form }}
  <button>Go</button>
</form>

{% endblock content %}