{% extends "base.html" %}

{% block content %}

<form action="/utils/bmi_out/" method="POST">
  {% csrf_token %}
  <div>
    <label for="height">Height: </label>
    <input type="number" step="0.1" id="height" name="height" 
           placeholder="cm 로 입력하세요" required autocomplete="off">
  </div>

  <div>
    <label for="weight">Weight: </label>
    <input type="number" step="0.1" id="weight" name="weight" 
           placeholder="kg 로 입력하세요" required autocomplete="off">
  </div>

  <div>
    <input type="submit">
  </div>

</form>

{% endblock content %}