<div>
  {% if request.user.is_authenticated %}
  <!-- 댓글 작성 UI -->
  <form action="{% url "board:comment_create" article.pk %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <button>제출</button>
  </form>
  {% endif %}

  <!-- 댓글 조회 UI -->
  <ul>
    {% for comment in article.comment_set.all %}
    <li>
      <a href="{% url "accounts:profile" comment.user %}">{{ comment.user }}</a> => {{ comment.content }}

      {% if request.user == comment.user %}
      <!-- 댓글 삭제 UI -->
      <form 
        action="{% url "board:comment_delete" article.pk comment.pk %}" 
        method="POST" style="display: inline-block;"
      >
        {% csrf_token %}
        <button onclick="return confirm('삭제?')">삭제</button>
      </form>
      {% endif %}
      
    </li>
    {% endfor %}
  </ul>
</div>