{% extends "base.html" %}
<!-- detail.html -->
{% block content %}

<h1>{{ article.title }} </h1>

<p>
  작성자: <a href="{% url "accounts:profile" article.user %}">{{ article.user }}</a>
</p>

<p>{{ article.content | linebreaksbr }}</p>

<!-- 좋아요 UI -->
{% if request.user.is_authenticated %}
<div>
  <form action="{% url "board:article_like" article.pk %}" method="POST">
    {% csrf_token %}
    <button>
      {% if is_like %}💓{% else %}🤍{% endif %}
      {{ article.like_users.count }}
    </button>
  </form>
</div>
{% endif %}

<button id="likeButton"></button>

<!-- 수정/삭제 UI -->
{% if article.user == request.user %}
<hr>
<div>
  <a href="{% url "board:article_update" article.pk %}">
    <button>수정</button>
  </a>
</div>

<div>
  <form action="{% url "board:article_delete" article.pk %}" method="POST">
    {% csrf_token %}
    <button onclick="return confirm('삭제')">삭제</button>
  </form>
</div>
{% endif %}

<hr>

{% include "board/detail_comment.html" %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script>
  // AJAX Like
  const URL = `{% url 'board:article_like' article.pk %}`
  const btn = document.querySelector('#likeButton')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  const isLike = `{{ is_like }}` === 'True'
  btn.innerText = isLike ? '💓' : '🤍'
  btn.addEventListener('click', function(event) {
    fetch(URL, {
      method: 'POST',
      headers: {'X-CSRFToken': csrftoken},
    })
    .then(res => {
      btn.innerText = btn.innerText === '🤍' ? '💓' : '🤍'
    })
  })
</script>

{% endblock content %}